*.fls
*.fdb_latexmk
*.pdf
*.log
*.out
*.aux
*.synctex*
*.pyc
*cpython*
# *main.pdf
!ap_first_semester/*.pdf
!ap_second_semester/*.pdf
!ap_third_semester/*.pdf
!astronomy/main.pdf
!astronomy/project.pdf
!*azimuth.pdf
!**/figures/**
!*indivisibility.pdf
*.bcf
*.run.xml
*.gif
quick_files/ripetizioni/*
*.zip
.vscode/settings.json